body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
  transition: background 0.5s;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 20px;
}


/* lets the be dark mode
.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
} */
img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 20px auto;
}

.nav-bar {
  display: flex;
  justify-content: end;
  align-items: center;
}

.about-me{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-bottom: 100px;
    
}

/* Divide the space by 6 into 6 columns */
/* Float the columns next to each other */
.row-1,
.row-2,
.row-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Set 2 columns with equal width */
    grid-template-rows: repeat(2, 1fr);
    /* Set 2 rows with equal height */
    justify-items: center;
    /* Center the items within each cell */
    gap: 20px;
    /* Add a gap of 20px between cells */
    padding: 50px;
   
    box-sizing: border-box;
    font-size: 22px;
    color: rgb(0, 0, 0);
}

.content-text{

    font-size: 15px;
}
.hidden {
  opacity: 0.8;
}

.fade-in {
  animation: fadeIn ease 1.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.clock {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  height: 200px;
  border: 5px solid black;
  border-radius: 50%;
  margin: 20px auto;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: 50% 100%;
  transform: rotate(90deg);
  z-index: 1;
}

.hour-hand {
  width: 6px;
  height: 50px;
  background: rgb(0, 0, 0);
}

.minute-hand {
  width: 4px;
  height: 70px;
  background: rgb(255, 0, 149);
}

.second-hand {
  width: 2px;
  height: 90px;
  background: rgb(255, 255, 255);
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}